{% load rest_framework %}
{% load staticfiles %}

<html>
<link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}" />
<body>
<h1>Profile - {{ name }}</h1>
<table>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Text</th>
        <th>Cost</th>
    </tr>
    {% for expense in expenses %}
        <tr>
            <td>{{ expense.date }}</td>
            <td>{{ expense.time }}</td>
            <td>{{ expense.text }}</td>
            <td>{{ expense.cost }}</td>
        </tr>
    {% endfor %}
</table>
  Date<br>
  <input id="date" type="date" name="date" value="">
  <br>
    Time<br>
  <input id="time" type="time" name="time" value="">
    <br>
    Text<br>
  <input id="text" type="text" name="text" value="">
  <br>
    Cost<br>
    <input id="cost" type="number" name="cost" value="">
  <input id="save" type="submit" value="Save">

<script   src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="
          crossorigin="anonymous"></script>

<script type="text/javascript">
    function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

    function runPyScript(input){
            var jqXHR = $.ajax({
                type: "POST",
                url: "/expenses/",
                async: true,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRFToken', readCookie('csrftoken'));
                }.bind(this),
                data: input,
                success: function(response) {
                    console.log(response);
                },
                error: function(response) {
                    console.log(response)
                }
            });
            return jqXHR.responseText;
        }

    $('#save').click(function(){
        result = runPyScript({'date': $("#date").val(), 'text': $("#text").val(), 'cost': $("#cost").val()});
    });
</script>

</body>
</html>
